html {
  font-family: helvetica neue, Helvetica, sans-serif, Arial;
  padding: 0;
}

body {
  background: white;
  color: #333;
  margin: 0;
  padding: 0;
}

nav {
  text-align: center;
  position: sticky;
  width: 100%;
  top: 0;
  background: rgba(15, 3, 104, 0.76);
}

.mim {
  height: 150px;
}
.twitter {
  position: absolute;
  right: 10px;
}
.twitter > img {
  height: 22px;
}

.twitter_blue {
  height: 22px;
  display: inline;
  vertical-align: top;
}

h1 {
  font-weight: 200;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-size: 14px;
}

h2 {
  color: white;
  font-family: "League Gothic", helvetica neue, Helvetica, sans-serif, Arial;
  font-size: 2.8em;
  text-align: center;
  text-transform: uppercase;
  padding-top: calc(180px - 1em + 1px);
  margin-top: 0;
}

h3 {
  margin-left: 1em;
}

nav a {
  letter-spacing: 0.25em;
  font-weight: 300;
  font-family: helvetica neue, Helvetica, sans-serif, Arial;
  text-transform: uppercase;
  flex: 1;
  color: #bbb;
  text-decoration: none;
  display: inline-block;
  padding: 1em;
}

nav a:hover {
  color: lightgray;
}

.halfsies {
  background: linear-gradient(
    to right,
    rgba(226, 226, 226, 1) 0%,
    rgba(219, 219, 219, 1) 50%,
    rgba(209, 209, 209, 1) 51%,
    rgba(254, 254, 254, 1) 100%
  );
}

.flexy {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.logo {
  margin: 2em auto;
  display: block;
}

.white {
  background: white;
}

.info {
  font-family: "League Gothic", helvetica neue, Helvetica, sans-serif, Arial;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
}

.body {
  overflow: hidden;
  background: white;
  font-family: "League Spartan", helvetic neue, Helvetica, sans-serif;
  margin: 0 auto;
  flex: 1;
}

.body a {
  color: #0e0369;
  /* text-shadow: 1px 1px 4px darkgray; */
}

.body a:hover {
  color: #0e0369;
  opacity: 0.8;
  /* text-shadow: 1px 1px 5px gray; */
}

.page::before {
  height: 180px;
  background: #0e0369;
  width: 100%;
  display: block;
  content: "x";
  color: #0e0369;
  position: absolute;
  z-index: -1;
}

.page > .body {
  color: #333;
  min-height: 400px;
}

.split {
  column-count: 2;
}

.home {
  background: #0e0369;
  color: white;
}

.center {
  text-align: center;
}

.date {
  font-family: "League Spartan", helvetic neue, Helvetica, sans-serif;
}
.about {
  margin: 2em auto;
  padding: 0 2em;
  font-size: 1.3em;
}

/* speakers */

.speakers {
  padding: 1em;
  column-count: 2;
}

.speaker-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 2em 2em;
}

@media (max-width: 1024px) {
  .speakers {
    column-count: 1;
    padding: 1em;
  }
}

@media (max-width: 768px) {
  .speaker-img {
    width: 140px;
    height: 140px;
  }
  .speaker-desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 479px) {
  .speaker-img {
    display: none;
  }
  .logo {
    width: 100%;
  }
  nav {
    display: none;
    font-size: 39px;
    position: static;
  }
}

.speaker {
  display: flex;
  page-break-inside: avoid;
}

.speaker-name {
  color: #0e0369;
  display: block;
}

.speaker-desc {
  font-size: 22x;
  color: #333;
  font-family: helvetica neue, Helvetica, sans-serif, Arial;
}

.speaker-more {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5em;
}

/* venue */

.venue {
  padding: 1em;
  font-family: sans-serif;
}

#venue > h2 {
  margin-bottom: -12px;
}

.venue-pics {
  height: 500px;
  display: flex;
}

.venue-pics > .col {
  flex: 1;
  width: 0;
}

.venue-pics img {
  max-height: 500px;
  flex: 1;
  margin-right: 1em;
}

/* schedule */

.schedule {
  margin: 0 auto;
  border: 1px solid black;
  font-size: 1.2em;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
tr,
td {
  text-align: left;
  padding: 1em;
  border-top: 1px solid gray;
}

td:first-of-type {
  padding: 0 20px;
}

tr.break {
  background: #ccc;
}

.register {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 0.3em 1em 0.3em 1em;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(229, 229, 229, 1) 100%
  );
}

.register:hover {
  background: linear-gradient(
    to bottom,
    rgb(254, 255, 255) 0%,
    rgba(180, 180, 211, 1) 100%
  );
}
